#include <behaviors.dtsi>
#include "keys_de.h"

#include <dt-bindings/zmk/mouse.h>

/ {
   behaviors {
       bspc_mouse: bspc_mouse {
           compatible = "zmk,behavior-hold-tap";
           label = "BSPC_MOUSE";
           tapping-term-ms = <200>;
           quick-tap-ms = <150>;
           flavor = "tap-preferred";
           bindings = <&kp BSPC>, <&mo 3>;
       };
   };

   keymap {
       compatible = "zmk,keymap";

       /* ================= BASE (DE) ================= */
       base_layer {
           label = "BASE";


           bindings = <


               // ===== Zahlenreihe (ESC links, verschoben) =====



                 &kp ESC       &kp DE_1   &kp DE_2   &kp DE_3   &kp DE_4   &kp  DE_5  &kp DE_6   &kp DE_7   &kp DE_8   &kp DE_9   &kp DE_0   &kp DE_SS


               // ===== Buchstaben 1 =====
               &kp TAB    &kp DE_Q   &kp DE_W   &kp DE_E   &kp DE_R   &kp DE_T   &kp DE_Z   &kp DE_U   &kp DE_I   &kp DE_O   &kp DE_P   &kp DE_UE

               // ===== Buchstaben 2 =====
               &kp LSHIFT &kp DE_A   &kp DE_S   &kp DE_D   &kp DE_F   &kp DE_G   &kp DE_H   &kp DE_J   &kp DE_K   &kp DE_L   &kp DE_OE  &kp DE_AE

               // ===== Buchstaben 3 + Daumen =====
               &kp LCTRL  &kp DE_Y   &kp DE_X   &kp DE_C   &kp DE_V   &kp DE_B   &kp DE_N   &kp DE_M   &kp DE_COMMA &kp DE_DOT &kp DEL   &bspc_mouse
           >;
       };

       /* ================= FN ================= */
       fn_layer {
           label = "FN";

           bindings = <
               // F-Tasten
               &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6
               &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12

               // FN + R → Sprache umschalten
               &trans &trans &trans &tog 4 &trans &trans
               &kp HOME &kp PG_UP &trans &trans &trans &trans

               &trans &trans &trans &trans &trans &trans
               &kp END &kp PG_DN &trans &trans &trans &trans

               &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans
           >;
       };

       /* ================= SYM ================= */
       sym_layer {
           label = "SYM";

           bindings = <
               &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &kp CARET
               &kp AMPS &kp STAR &kp LPAR &kp RPAR &kp EQUAL &kp PLUS

               &trans &kp DE_QMARK &kp DE_MINUS &kp DE_PLUS &kp DE_ASTERISK &kp DE_SLASH
               &trans &trans &trans &trans &trans &trans

               &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans

               &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans
           >;
       };

       /* ================= MOUSE ================= */
       mouse_layer {
           label = "MOUSE";

           bindings = <
               &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans

               &trans &trans &trans &trans &trans &trans
               &mkp LCLK &mkp RCLK &mkp MCLK &msc SCRL_UP &msc SCRL_DOWN &trans

               &trans &trans &trans &trans &trans &trans
               &kp HOME &kp PG_UP &kp PG_DN &kp END &trans &trans

               &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans
           >;
       };

       /* ================= RU (Unicode) ================= */
       ru_layer {
           label = "RU";

           bindings = <
               &trans &trans &trans &trans &trans &trans
               &trans &trans &trans &trans &trans &trans

               &trans &kp C_YO &kp C_TSE &kp C_U &kp C_K &kp C_IE
               &kp C_EN &kp C_GHE &kp C_SHA &kp C_SHCHA &kp C_ZE &trans

               &trans &kp C_EF &kp C_YERU &kp C_VE &kp C_A &kp C_PE
               &kp C_ER &kp C_O &kp C_EL &kp C_DE &kp C_ZHE &kp C_E

               &trans &kp C_YA &kp C_CHE &kp C_ES &kp C_EM &kp C_I
               &kp C_TE &kp C_SOFT_SIGN &trans &trans &trans &trans
           >;
       };
   };
};
